/*Page body set up*/
body {
  font-family: sans-serif;
  padding: 0 15px;
  margin: auto;
  display: grid;
  grid-template-columns: 20% auto auto;
  grid-template-rows: auto;
  grid-template-areas: "header header"
                       "sidebar main"
                       "footer footer";
}

header{
  background: #f1f1f1;
  grid-area: header;
  line-height: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;  
  justify-content: center;
  padding: 20px 0 ;
}

aside {
  background: #10a6c0;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}

main {
  grid-area: main;
  text-align: justify;
  padding: 2px;
}

footer{
  grid-area: footer;
}

#logo{
  text-align: center;
  padding-right: 20px;
}

nav ul{
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  display: block;
  color: rgb(255, 255, 255);
  padding: 16px 0;
  text-decoration: none;
}

a.active {
  color: black;
  font-weight: bold;
}

form{
  height: 60px;
  align-items: center;
  display: flex;
  margin: auto;
  background-color: #d35502d2;
}

form input{
  margin: auto;
  
}